body{
  background-color: #4472c7;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
header img{
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
section{
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.33); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.33);
  background-color: white;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.form input{
  padding: 10px 15px;
  font-family: sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
}
button{
  padding: 10px 15px;
  border-radius: 10px;
}
.container {
  text-align: center;
  padding: 20px
}
#listaCarros img{
  border-radius; 10px;
  margin: 10px;
}
body > img{
  margin: 0 10px;
}